/* Base Styles */

:root {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

/* Universal Selector with box-sizing */
*,                              /* universal selector that applies to ALL HTML elements */
*::before,                      /* targets all pseudo-elements (created with ::before and ::after) */
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;     /* Changes how element dimensions are calculated */
}

/* Styling the html element */
html {
    box-sizing: border-box;  /* Sets the box-sizing property to border-box for the root <html> element. */
}

/* -------------------------- Desktop ------------------------------ */

/* Styling the footer Container and Working on Padding and Margins */
.container {
    background-color: #659f8f;
    padding-bottom: 4rem;
    border-radius: 15px;      /* adding round edges as per the reference images */
}

.px-6 {
    padding-left: 5rem; 
    padding-right: 5rem; 
}

.py-12 {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}

/* Enabling flexbox layout and CSS Grid on the flex and grid Containers */
.flex { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;                 /* Also to help with the bottom border */
    height: auto;
    background-color: #659f8f;
    margin: 0 auto;
    padding: 4rem 0;
    border-bottom: 3px solid #f15a22 ;
}

/* Setting the dimensions of the logo */
.logo {
    width: 300px;
    height: 100%;
    object-fit: cover;
    padding: 4rem 0; 
    margin-left: 4rem;
    margin-bottom: 1rem;
}

/* Styling the form column */
.newsletter-col {
    margin-right: 4rem;
    margin-bottom: 1rem;
}

/* Header for the form column needs a bottom padding */
.newsletter-col h3 {
    margin-bottom: 1.5rem;
}

.newsletter-col input {
    width: 250px;
    height: 40px;
    border: none;           /* No visible border added */
    border-radius: 8px;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.newsletter-col .submit-btn {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    color: white;
    background-color: #f15a22;
    margin-left: 0.5rem;     /* elements were too close to each other, adding some space */
    padding: 0 0.5rem;
}
/* Newsletter form complete and looks satisfactory */


/* Working on the Quick-links item */
.quick-links-col {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.quick-links-col h4 {
    margin-bottom: 2rem;
}

.quick-links-col a {
    color: #333;
    margin-bottom: 1rem;
    text-decoration: none;
}

/* Adding some animation */
.quick-links-col a:hover {
    color: #f15a22;
    transition: 0.3s ease-in-out;
}


/* Technologies item */
.tech-col {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.tech-col h4 {
    margin-bottom: 2rem;
}

.tech-col a {
    color: #333;
    margin-bottom: 1rem;
    text-decoration: none;
}

.tech-col a:hover {
    color: #f15a22;
    transition: 0.5s ease-in-out;
}

/* -------------- Complete with the Screen: Desktop --------------------  */

/* -------------- Responsiveness -------------------- */

/* Tablet (768×1024) */
@media (max-width: 1000px) {
    .footer-heading {
        flex-direction: row; /* Horizontal layout */
        width: 50% ;
        flex-wrap: wrap; /* Allow items to wrap */
        flex: 1 1 40%; /* 2 items per row (accounting for gap) */
        margin-bottom: 1rem;
    }

    .newsletter-col {
        margin-bottom: 2rem;
    }

    .quick-links-col {
        display: flex;
        flex-direction: column;
        
    }

    .tech-col {
        display: flex;
        flex-direction: column;
    }
}