/* Base Styles */

:root {
    font-size: 10px;
}

/* Universal Selector with box-sizing */
*,                              /* universal selector that applies to ALL HTML elements */
*::before,                      /* targets all pseudo-elements (created with ::before and ::after) */
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;     /* Changes how element dimensions are calculated */
}

/* Styling the html element and body */
html {
    background-color: white;
    margin: 0;
}

/* Styling the footer Container and Working on Padding and Margins */
.container {
    background-color: #659f8f;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0 auto;
    font-size: 1.6rem;
}

.px-6 {
    padding-left: 5rem; 
    padding-right: 5rem; 
}

.py-12 {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}

/* Enabling flexbox layout and CSS Grid on the flex and grid Containers */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, auto;
    gap: 2rem;
}

.flex { 
    grid-column: 1 / -1;
    grid-row: 2;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling the form column of the grid */
.email-form-4-newsletter {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.submit-btn {
    background-color: #f15a22;
    color: white;

}